.footer{
    background: rgb(224, 224, 224);
    margin-top: 10%;
    padding-top: 20px;
    padding-bottom: 20px;

}

.footer__line__div{
    display: flex;
}

.footer__line1{
    margin-left: 29%;
}

.footer__line2{
    font-size:"17px"; 
    margin-left: "5%"; 
}

.footer__line3{
    text-align: center;
}

.scroll__icon{
    display: none;
}

@media all and (max-width:480px) {

    .footer__line3{margin:0 5% 0 5%; font-size: 15px; }
    /* .scroll__icon{display: block; margin-left: 5%;} */
    .footer__line1{margin-left: 5%; font-size: 13px; margin-top: 2%;}
    

}