.banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: grey !important;
  }

  .banner__search {
    display: flex;
    flex-direction: column;
}

.banner__search{
    display: none;
}

@media all and (max-width:480px) {

    .banner__search {
        display:block;
        margin-left: 40%;
    }
    
}